@use 'functions';

$color-white: #FFFFFF;
$color-grey-900: #48556A;
$color-grey-500: #6E8098;
$color-grey-400: #9DAEC2;
$color-grey-200: #ECF2F8;

$space-16px: functions.to-rem(16px);
$space-24px: functions.to-rem(24px);
$space-32px: functions.to-rem(32px);
$space-40px: functions.to-rem(40px);
$space-48px: functions.to-rem(48px);
$space-56px: functions.to-rem(56px);
$space-64px: functions.to-rem(64px);
$space-104px: functions.to-rem(104px);
$space-160px: functions.to-rem(160px);

$radius-10px: functions.to-rem(10px);

$phone-width: functions.to-rem(600px);
$tablet-width: functions.to-rem(960px);

@mixin tablet-and-up {
  @media (min-width: $phone-width) {
    @content
  }
}

@mixin desktop-and-up {
  @media (min-width: $tablet-width) {
    @content
  }
}

@mixin text-preset-1 {
  font-family: 'Manrope Bold', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.25px;
}

@mixin text-preset-2 {
  font-family: 'Manrope Bold', sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 140%;
  letter-spacing: 0.12px;
}

@mixin text-preset-2-bold {
  font-family: 'Manrope Bold', sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 140%;
  letter-spacing: 0.12px;
}

@mixin text-preset-3 {
  font-family: 'Manrope Bold', sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 140%;
  letter-spacing: 2px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: $color-grey-200;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1, p {
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}